@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* { box-sizing: border-box; }

body {
  background-color: #030305;
  color: #E2E2E5;
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
  overflow: hidden;
}

::-webkit-scrollbar { width: 3px; height: 3px; }
::-webkit-scrollbar-track { background: #030305; }
::-webkit-scrollbar-thumb { background: #1C1C24; }
::-webkit-scrollbar-thumb:hover { background: #00E5FF; }

select option { background: #0B0B0F; color: #E2E2E5; }
